<script language=typescript>
  $(document).ready(progress());

  function progress(){
    this.http.get('http://210.94.194.107:3000/upload/result.jpg', {id: '12',message: 'test'}, function(response) {
      console.log(response.status); }, function(response) {console.error(response.error);});           
    navigateToFinal();
  }

</script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>FaceMaskSynthesis</b>
    </ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="loading.page.scss">
<ion-content [fullscreen]="true" style = "background-color: white">
  <div id="container">
    <div id="loading_animate">
      <div id="loading_message" href ="navigateToFinal()">
        <p>Loading...</p>
        <p>Synthesizing images</p>
      </div>
    </div>  
  </div>

</ion-content>




